In [1]:
!pip install kaggle
# Add this to external cookies allowed list   -  [*.]googleusercontent.com:443
from google.colab import files
files.upload()

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.9)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.11.8)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

Saving kaggle.json to kaggle (1).json

{'kaggle.json': b'{"username":"shivtejshete","key":"d8a54598045a41f573268a96a799fc38"}'}

In [2]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [3]:
!kaggle datasets download -d roamresearch/prescriptionbasedprediction

prescriptionbasedprediction.zip: Skipping, found more recently modified local copy (use --force to force download)

In [4]:
!ls

'kaggle (1).json'   prescriptionbasedprediction.zip   sample_data
 kaggle.json	    prescription_prediction

In [5]:
import zipfile
zip_ref = zipfile.ZipFile('prescriptionbasedprediction.zip' , 'r')
zip_ref.extractall('prescription_prediction')
zip_ref.close()

In [6]:
import os
import pandas as pd

In [8]:
# os.listdir('prescription_prediction/roam_prescription_based_prediction.jsonl')

List Comprehension (Creating Lists using iterators)

In [9]:
raw = pd.read_json('prescription_prediction/roam_prescription_based_prediction.jsonl',orient='column', lines=True, ) #Structure of json is like column -> {index - Value}

print(raw.shape)
raw.head()

(239930, 3)

                             cms_prescription_counts  ...         npi
0  {'DOXAZOSIN MESYLATE': 26, 'MIDODRINE HCL': 12...  ...  1295763035
1  {'CEPHALEXIN': 23, 'AMOXICILLIN': 52, 'HYDROCO...  ...  1992715205
2  {'CEPHALEXIN': 28, 'AMOXICILLIN': 73, 'CLINDAM...  ...  1578587630
3                                {'AMOXICILLIN': 63}  ...  1932278405
4  {'PIOGLITAZONE HCL': 24, 'BENAZEPRIL HCL': 29,...  ...  1437366804

[5 rows x 3 columns]

In [10]:
#This is called list comprehension ie creating list from an iterator  - column dict values to df using pandas
provider  = pd.DataFrame([dict1 for dict1 in raw.provider_variables])
provider.head()

  settlement_type  generic_rx_count  ...   region  brand_name_rx_count
0       non-urban              2287  ...    South                  384
1       non-urban               103  ...    South                    0
2       non-urban               112  ...  Midwest                    0
3       non-urban                63  ...    South                    0
4       non-urban              1035  ...     West                  316

[5 rows x 7 columns]

JSON normalize Pandas Function

In [11]:
from pandas.io.json import json_normalize

In [12]:
normalized = json_normalize(raw.provider_variables )  #normalize unserialized json file

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

       settlement_type  generic_rx_count  ...     region  brand_name_rx_count
0            non-urban              2287  ...      South                  384
1            non-urban               103  ...      South                    0
2            non-urban               112  ...    Midwest                    0
3            non-urban                63  ...      South                    0
4            non-urban              1035  ...       West                  316
...                ...               ...  ...        ...                  ...
239925       non-urban               646  ...    Midwest                  106
239926       non-urban                52  ...  Northeast                   12
239927           urban               209  ...    Midwest                   65
239928           urban               140  ...      South                   21
239929           urban                41  ...       West                    0

[239930 rows x 7 columns]

Reading HTML Data from Web Page

In [27]:
#We will use pandas read_html function to read data from html tables 
url = 'https://en.wikipedia.org/wiki/Mobile_country_code'
web_table = pd.read_html(url, match='Mobile country code', header=0)   #match is a regx string used to match the table somewhere in it, that tables will be picked up by pandas

In [28]:
web_table[0]

     Mobile country code  ...                   Remarks
0                    289  ...  MCC is not listed by ITU
1                    412  ...                       NaN
2                    276  ...                       NaN
3                    603  ...                       NaN
4                    544  ...                       NaN
..                   ...  ...                       ...
247                  452  ...                       NaN
248                  543  ...                       NaN
249                  421  ...                       NaN
250                  645  ...                       NaN
251                  648  ...                       NaN

[252 rows x 6 columns]